.educacion {
    display: grid;
    gap: 10px;

    padding: 30px;
    min-height: 150px;

    background-color: rgba(249, 249, 251, 0.098);

    h1.tittle {
        text-align: end;
        text-transform: uppercase;
    }

    div {
        display: flex;
        justify-content: end;
        margin-bottom: 15px;

        button {
            align-self: flex-end;
        }
    }
}